@mixin orangeButton 
    background: $mainColor
    color: white
    border: none
    border-radius: 10px
    width: 210px
    height: 60px
    margin-right: 40px

@mixin borderButton
    color: $mainColor
    background: transparent
    border-color: $mainColor
    border-radius: 10px
    width: 210px
    height: 60px
    
@media (min-width: 1400px) 
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl 
        max-width: 1460px



$mainColor: rgb(240, 140, 31)
$orangeAnimationColor: rgba(240, 140, 31, 1)
    
* 
    font-family: "Raleway", sans-serif 
    padding: 0
    margin: 0
    box-sizing: border-box

header
    .row
        display: flex
        justify-content: center
        align-items: center
        
header .blob
    z-index: 0
    position: absolute
    left: 100%
    transform: translateX(-100%)
.header-top
    position: relative
    z-index: 1
    padding-top: 32px

    &__logo
        width: 210px
        height: 48px
    &__menu
        display: flex
        justify-content: center
        align-items: center
        margin: 0
        word-wrap: normal
        a
            text-decoration: none
            li
                font-weight: 500
                font-size: 16px
                color: black
                list-style: none
                margin-right: 40px
                &:hover
                    color: $mainColor 
    &__btns
        display: flex
        align-content: center
        

        &-theme, &-language
            width: 70px
            height: 44px
            display: flex
            justify-content: center
            align-items: center
            background-color: white
            border-radius: 10px 
            margin-right: 15px
            &:hover
                box-shadow: inset 0px 0px 5px 5px gray
        &-login
            width: 125px
            height: 44px
            border: none
            background-color: white
            color: black
            border-radius: 10px
            &:hover
                box-shadow: inset 0px 0px 18px 5px gray

.header-body
    padding-top: 210px
    position: relative
    &__first-text
        font-family: 'Playfair Display', serif
        font-size: 54px
        font-weight: 700
    &__description
        padding-top: 50px
        font-family: "Raleway", sans-serif
        font-size: 16px
        font-weight: 400
    &__btns
        padding-top: 65px
        display: flex
        &-order
            @include orangeButton 
            
        &-detail
            @include borderButton
            
    &__food img
        z-index: 1
        position: absolute
        left: 100%
        top: 5%
        transform: translateX(-100%)



.characteristic-text
    margin: 0 auto
    padding-top: 25%
    &__first-text
        text-align: center
        color: $mainColor
        font-family: 'Raleway', sans-serif
        font-size: 16px
        font-weight: 400
    &__second-text
        font-family: Playfair Display
        text-align: center
        font-size: 32px
        font-weight: 700

.characteristic-block
    position: relative
    padding-top: 20%
    z-index: 1


    &__image
        display: flex
        flex-wrap: wrap
        justify-content: center
    &__main-text
        text-align: center
        font-family: Playfair Display
        font-size: 25px
        margin-top: 20px
    &__second-text
        text-align: center
        font-family: Raleway
        font-size: 16px
        margin-top: 25px

.about
    margin-top: 139px
    &-blob
        position: relative
        bottom: 375px
        opacity: 0.3
    &-blob img
        width: 705px
        height: 1595px
        z-index: 0
        position: absolute
        


    &-women
        width: 710px
        height: 590px
        position: relative
        right: 65px



    &__descr
        
        &-hint
            margin-top: 75px
            color: $mainColor
            font-size: 16px
            
        &-title
            font-family: 'Playfair Display', serif
            font-size: 32px
            word-wrap: normal
        &-subtitle
            margin-top: 30px
            font-size: 16px
            font-style: normal
            font-weight: 400
            line-height: 140%
            word-wrap: normal
        button
            @include orangeButton
            margin-top: 35px
            width: 180px
            height: 50px



.menu
    &__button
        @include borderButton
        display: block
        margin: 80px auto 0 auto
    &__description
        text-align: center
        &-subtitle
            color: $mainColor
            font-size: 24px
            font-style: normal
        &-title
            font-family: Playfair Display
            font-size: 32px
        &-descr
            margin-top: 25px
            text-align: center
            font-size: 16px


        

    &__item
        margin-top: 40px
        border-radius: 100px 15px 15px 15px
        border: 2px solid rgba(217, 217, 217, 0.50)
        width: 460px
        height: 596px
        position: relative
        z-index: 1
        &-picture img
            border-radius: 100px 0 100px 4px

        &_other
            display: flex
            justify-content: center
            align-items: center
            &-add
                width: 50px
                height: 50px
                background-color: $mainColor
                display: flex
                justify-content: space-around
                align-items: center
                border-radius: 10px

            &-rating
                margin-left: 225px
        &_main-descr
            margin-top: 5px
            display: flex
            align-items: center
            justify-content: space-between
            &-title
               color: #000
               font-family: Playfair Display
               font-size: 32px
            &-price
                color: #000
                font-family: Playfair Display
                font-size: 32px
            
                
            
        &-other-descr, &_main-descr, &-rating, &_other 
            padding: 0 30px 22px 30px


.reviews
    margin-top: 120px
    text-align: center
    &__hint
        color: $mainColor
        font-size: 16px
    &__title
        margin-top: 10px
        font-family: Playfair Display
        font-size: 32px
    &__descr
        position: relative
        margin-top: 25px
        font-size: 16px
        margin-bottom: 75px
    &__blob
        display: flex
        justify-content: center
        align-items: center
        
    &__blob-image
        position: absolute
        width: 231px
        height: 224px
        opacity: 0.3

    &__blob-people
        width: 100px
        height: 100px
        position: relative

    .container
        .row:last-child
            display: flex
            align-items: flex-start
            margin-top: 75px
            
    &__content
        &-rank
            margin-top: 15px
        &-other
            margin-top: 15px


.footer-top
    margin-top: 220px
    padding-top: 115px
    height: 480px
    background-color: rgba(240, 140, 31, 0.2)
    &__first-text
        text-align: center
        color: $mainColor
        font-family: 'Raleway', sans-serif
        font-size: 16px
        font-weight: 400
    &__second-text
        font-family: Playfair Display
        text-align: center
        font-size: 32px
        font-weight: 700
    &__buttons
        display: flex
        justify-content: center
        padding-top: 40px
        

        &-input
            width: 790px
            height: 75px
            padding-left: 40px
            font-family: 'Raleway', sans-serif
            font-size: 16px
            border-radius: 10px
            border: none
            box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07)
        &-button
            width: 165px
            background-color: $mainColor
            border-radius: 10px
            border: none
            color: white
            box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07)

.footer-bottom
    height: 250px
    background-color: #000

    
.footer-bottom-menu
    margin-bottom: 0px
    .row
        display: flex
        align-items: center

    padding-top: 10%
    &__nav
        padding-top: 1.4%
    &__logo
        width: 210px
        height: 48px
        display: flex
    &__menu
        display: flex
        justify-content: center
        align-items: center
        word-wrap: normal
        // padding-top: 6%
        
        a
            text-decoration: none
            li
                font-weight: 500
                font-size: 16px
                color: white
                list-style: none
                margin-right: 40px
                &:hover
                    color: $mainColor 
    &-end
        display: flex
        &__contact
            font-weight: 500
            font-size: 16px
            color: white
            list-style: none
            margin-right: 40px
            &:hover
                color: $mainColor 
        &__email
            font-weight: 500
            font-size: 16px
            color: white
            list-style: none
            margin-right: 40px
            &:hover
                color: $mainColor